body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir", sans-serif;
  box-sizing: border-box;
  min-height: 100%;
}

#wrapper {
  position: relative;
}

:root {
  --cas-brand1: #39363c;
  --cas-brand2: #dedede;
  --cas-brand3: #272731;
  --cas-melon: #ff204b;
  --cas-green: #00cb30;
  --cas-white: #ffffff;
  --nav-width-open: 250px;
  --nav-width-closed: 50px;
  --card-width: 30rem;
  --card-height: 30rem;
}

main {
  min-height: 100vh;
  left: var(--nav-width-closed);
  position: relative;
  width: 95%;
  transition: left 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#wrapper.toggled main {
  position: relative;
  width: 85%;
  left: var(--nav-width-open);
  transition: left 0.4s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

nav {
  top: 0;
  padding: 0;
  float: left;
  position: fixed;
  z-index: 100;
}
nav a {
  text-decoration: none;
  font-weight: 600;
}
section {
  min-height: 100vh;
  position: relative;
}

#menuToggle {
  top: 0px;
  left: 5px;
  display: inline-block;
  height: 100%;
}

#menuToggler {
  z-index: 2;
}

#menuToggle span {
  top: 30px;
  left: 9px;
  display: block;
  position: relative;
  width: 32px;
  height: 4px;
  margin-bottom: 6px;
  background-color: var(--cas-white);
  border-radius: 3px;
  z-index: 2;
  transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease, transform-origin 0.55s ease, left 0.4s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle input {
  left: 5px;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: -10% 30%;
}

#menuToggler:hover~span:nth-last-child(3) {
  transform-origin: 50% 0%;
  transform: scale(0.8, 1);
  border-radius: 30px;
  transition: transform-origin 0.4s ease;
}

#menuToggle input:checked~span {
  left: var(--nav-width-open);
  margin-left: -50px;
  width: 33.3px;
  opacity: 1;
  border-radius: 30px;
  transform: rotate(45deg) translate(0px, 0px);
  transition: left 0.4s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  background-color: var(--cas-brand2);
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(7px, -1px);
}

#nav-expanded {
  display: flex;
  flex-direction: column;
  width: var(--nav-width-closed);
  background-color: var(--cas-brand1);
  height: 150vh;
  margin: -50px 0 0 -50px;
  padding-top: 150px;
  padding-left: 50px;
  transform-origin: 0% 0%;
  transition: width 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#nav-expanded div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  min-height: 40px;
  background-color: rgb(255, 136, 0);
  margin-top: 20px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8em;
}

/* #nav-expanded {
  display: inline;

} */

/* ALL STUFF WITH IT OPEN */

#wrapper.toggled #nav-expanded{
  display: flex;
  flex-direction: column;
  width: var(--nav-width-closed);
  background-color: var(--cas-brand1);
  height: 150vh;
  margin: -100px 0 0 0px;
  padding-top: 150px;
  padding-left: 0px;
  transform-origin: 0% 0%;
  transition: width 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#wrapper.toggled #nav-expanded div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  min-height: 100px;
  font-weight: bolder;
}

/* ALL STUFF WITH IT CLOSED */

#nav-expanded>div {}

#menuToggle input:checked~#nav-expanded {
  width: var(--nav-width-open);
  transform: translate(0, 0);
  background-color: var(--cas-brand3);
}

.timer {
  background-color: green;
  width: 100%;
  z-index: 1;
  position: fixed;
}

/* scrunch the nav bar at this width */

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 400px) {}

.study-mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.study-mode--card-view {
  perspective: 2000px;
  position: relative;
  height: var(--card-height);
  width: var(--card-width);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--cas-melon);
  z-index: 0;
}

.single-card {
  border-radius: 3px;
  display: grid;
  grid-auto-rows: 60px 1fr 20px;
  grid-template-areas: "header""middle""footer";
  position: absolute;
  height: var(--card-height);
  width: var(--card-width);
  background-color: white;
  transform-style: preserve-3d;
  user-select: none;
}

@media screen and (max-width: 700px) {
  .single-card {
    top: 0rem;
    height: 100vh;
  }
  .study-mode--card-view {
    overflow: hidden;
  }
  .next-card, .previous-card {
    display: none !important;
  }
}

.single-card--header {
  grid-area: header;
  background-color: var(--cas-brand3);
  width: 100%;
  height: 60px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.single-card--footer {
  grid-area: footer;
  width: 100%;
  height: auto;
  background-color: var(--cas-melon);
}

.current-card {
  box-shadow: 0px 0px 10px 0px grey;
  z-index: 99;
  transition: all 0.8s ease;
  transform-origin: center center 0px;
  -webkit-transform-origin: center center 0px;
  -webkit-transition: all 0.2s ease 0s;
}

.single-card__card-front div:nth-of-type(1), .single-card__card-back div:nth-of-type(1) {
  font-size: 2rem;
  padding: 1.5rem;
  text-align: center;
}

.single-card__card-front div:nth-of-type(2), .single-card__card-back div:nth-of-type(2) {
  font-size: 1.25rem;
  min-height: 2.5rem;
  margin-top: 0.5rem;
  padding: 1.5rem;
  text-align: center;
}

.single-card__card-front {
  grid-area: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backface-visibility: hidden;
  overflow: hidden;
}

.single-card__card-back {
  grid-area: middle;
  transform: rotateY(90deg);
  /* transition-delay: 2s; */
  backface-visibility: hidden;
  overflow: hidden;
  opacity: 0;
}

.flip-show {
  transform: rotateY(180deg);
  transition: all 0.5s ease;
  opacity: 1;
  
}

.flip-hide {
  /* transform: rotateY(90deg); */
  /* transition: all 0.5s ease; */
  opacity: 0;
}

.next-card, .previous-card {
  display: inline-block;
  min-height: 20rem;
  box-shadow: 0px 5px 4px 4px lightgrey;
  background-color: white;
}

.next-card {
  z-index: 98;
  transform: matrix3d(0.91, 0.09, 0.42, 0, -0.09, 0.784, -0.17, 0, -0.42, 0.17, 0.8918, 0, 150, 10, 1, 1);
  -webkit-transform: matrix3d(0.91, 0.09, 0.42, 0, -0.09, 0.784, -0.17, 0, -0.42, 0.17, 0.8918, 0, 150, 10, 1, 1);
  transform-origin: center center 0px;
  transition: all 0.2s ease 0s;
  -webkit-transform-origin: center center 0px;
  -webkit-transition: all 0.2s ease 0s;
}

.previous-card {
  z-index: 97;
  transform: matrix3d(0.91, -0.09, 0.42, 0, 0.09, 0.784, 0.17, 0, -0.42, -0.17, 0.8918, 0, -150, 10, 1, 1);
  -webkit-transform: matrix3d(0.91, -0.09, 0.42, 0, 0.09, 0.784, 0.17, 0, -0.42, -0.17, 0.8918, 0, -150, 10, 1, 1);
  transform-origin: center center 0px;
  transition: all 0.2s ease 0s;
  -webkit-transform-origin: center center 0px;
  -webkit-transition: all 0.2s ease 0s;
}

.deck-index {
  padding: 2.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, 250px);
  row-gap: 3rem;
}

.single-deck {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.single-deck~div {
  position: absolute;
}

.single-deck i {
  color: white;
  font-size: 2.5rem;
}

.single-deck i:hover{
  color: var(--cas-green);
  cursor: pointer;
}

.single-deck:hover {
  /* transform: translate(0.65rem, 0.25rem) scale(0.98); */
  transition: all 0.3s;
}

.single-deck~div:nth-child(2) {
  background-color: var(--cas-brand3);
  z-index: 98;
}

.single-deck:hover~div:nth-child(2) {
  transform: scale(0.95)
}

.single-deck~div:nth-child(3) {
  background-color: orange;
  z-index: 97;
}

.single-deck:hover~div:nth-child(3) {
  transform: rotate(-10deg)
}

.single-deck~div:nth-child(4) {
  background-color: green;
  z-index: 96;
}

.single-deck:hover~div:nth-child(4) {
  transform: rotate(10deg)
}

.single-deck--top-card {
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  z-index: 99;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition-delay: 0.5s !important; */
  transition: all 0.2s;
  overflow-y: auto;
  height: 100%;
  background-color: var(--cas-melon);
}

.single-deck:hover > .single-deck--top-card {
  top: 15%;
  transform: scale(0.98);
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s;
}

.single-deck--options {
  display: none;
}

.single-deck:hover .single-deck--options {
  justify-self: center;
  display: grid;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 1rem;
}

.single-deck--top-card>div:nth-child(2) {
  margin-top: 0px;
}

.single-deck--top-card:hover>div:nth-child(2) {
  margin-top: 25%;
  background-color: red;
  transition: margin-top 0.2s;
}

.edit-deck {}

.edit-deck--card-index {
  position: relative;
  display: grid;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  grid-auto-rows: min-content;
}

.edit-deck--card-index>div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  text-align: center;
  padding: 2rem;
}

.edit-deck--card-index> :first-child {
  font-size: 2rem;
  background-color: #181818;
  color: white;
}

.edit-deck--card-index> :last-child {
  background-color: orange;
  height: auto;
  padding: 0;
}

.edit-deck--single-card {
  height: 150px;
}

.edit-deck--single-card>div {
  border: 1px solid rgb(70, 70, 70);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.edit-deck--single-card:last-child>div {
  border: none;
}

.edit-deck--single-card-add input {
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 3rem;
  text-align: center;
  border: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
