/* default */

/* *, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif, Arial;
  box-sizing: border-box;
  min-height: 100%;
  color: var(--cas-brand3);
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d2d2d2' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

h2 {
  font-size: 4rem;
  font-weight: 200;
  margin: 0;
}

#timer {
  width: 100%;
  background-color: #ddd;
  border-radius: 20px;
}

#bar {
  height: 20px;
  border-radius: 20px;
  /* transition: background-color 0.2s ease, width 0.2s ease; */
  background-color: var(--cas-green);
}

#wrapper {
  position: relative;
}

:root {
  --cas-brand1: #39363c;
  --cas-brand2: #dedede;
  --cas-brand3: #39363c;
  --cas-brand4: #fa235b;
  --cas-brand5: #007ab8;
  --cas-brand6: #867f8d;
  --cas-melon: #f32b5de7;
  --cas-green: #00cb30;
  --cas-white: #ffffff;
  --top-nav-color: #f7f7f7;
  --top-nav-font-color: #181818;
  --cas-card-edit: #c6ebf9;
  --nav-width-open: 200px;
  --nav-width-closed: 50px;
  --card-width: 30rem;
  --card-height: 30rem;
  --top-nav-height: 50px;
}

main {
  min-height: 100vh;
  left: var(--nav-width-closed);
  position: relative;
  width: 95%;
  margin-top: var(--top-nav-height);
  transition: left 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#wrapper.toggled main {
  position: relative;
  width: 85%;
  left: var(--nav-width-open);
  transition: left 0.4s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

nav {
  top: 0;
  padding: 0;
  float: left;
  position: fixed;
  z-index: 100;
}

nav a {
  text-decoration: none;
  font-weight: 600;
}

section {
  min-height: 120vh;
  position: relative;
}

footer {
  height: 50px;
  background-color: black;
}

#menuToggle {
  top: 0px;
  left: 5px;
  display: inline-block;
  height: 100%;
}

#menuToggler {
  z-index: 2;
}

#menuToggle span#x {
  top: 15px;
  left: 9px;
  display: block;
  position: relative;
  width: 32px;
  height: 3px;
  margin-bottom: 6px;
  background-color: var(--cas-white);
  border-radius: 3px;
  z-index: 2;
  transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease, transform-origin 0.55s ease, left 0.4s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle input {
  left: 5px;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#menuToggle span#x:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span#x:nth-last-child(2) {
  transform-origin: -10% 30%;
}

#menuToggler:hover~span#x:nth-last-child(3) {
  transform-origin: 50% 0%;
  transform: scale(0.8, 1);
  border-radius: 30px;
  transition: transform-origin 0.4s ease;
}

#menuToggle input:checked~span#x {
  left: var(--nav-width-open);
  margin-left: -50px;
  width: 33.3px;
  opacity: 1;
  border-radius: 30px;
  transform: rotate(45deg) translate(6px, 3px);
  transition: left 0.4s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  background-color: var(--cas-brand2);
}

#menuToggle input:checked~span#x:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span#x:nth-last-child(2) {
  transform: rotate(-45deg) translate(3px, 6px);
}

#nav-expanded {
  display: flex;
  flex-direction: column-reverse;
  width: var(--nav-width-closed);
  background-color: var(--cas-brand1);
  height: 100vh;
  margin: -50px 0 0 -50px;
  /* padding-top: 150px; */
  padding-left: 50px;
  padding-bottom: 2rem;
  transform-origin: 0% 0%;
  transition: width 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#nav-expanded div {
  align-items: center;
  vertical-align: center;
  width: 100%;
  height: inherit;
  color: white;
  text-align: center;
  font-weight: 200;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8em;
}

#nav-expanded div span {
  display: none;
}

#nav-expanded div i {
  display: inline;
  font-size: 1rem;
}

#wrapper.toggled #nav-expanded div span {
  display: inline;
}

#wrapper.toggled #nav-expanded div i {
  margin-right: 10px;
  display: inline;
  transition: font-size 0.3s ease;
  font-size: 1.25rem;
}

/* #nav-expanded {
  display: inline;

} */

/* ALL STUFF WITH IT OPEN */

#wrapper.toggled #nav-expanded {
  display: flex;
  flex-direction: column-reverse;
  width: var(--nav-width-closed);
  background-color: var(--cas-brand1);
  height: 100vh;
  margin: -50px 0 0 -50;
  /* padding-top: 150px; */
  transform-origin: 0% 0%;
  transition: width 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#wrapper.toggled #nav-expanded div {
  display: flex;
  color: var(--cas-brand1);
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-bottom: 1px dashed grey;
  font-weight: bolder;
  width: 100%;
}

#wrapper.toggled #nav-expanded div:hover {
  background-color: var(--cas-brand4);
  color: white;
  cursor: pointer;
}

/* ALL STUFF WITH IT CLOSED */

#menuToggle input:checked~#nav-expanded {
  width: var(--nav-width-open);
  transform: translate(0, 0);
  background-color: var(--cas-brand3);
}

.timer {
  background: linear-gradient(90deg, rgba(82, 185, 9, 1) 0%, rgba(130, 255, 86, 1) 100%);
  width: 100%;
  z-index: 1;
  position: fixed;
}

#timer-container {
  margin-bottom: 3rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#input-holder {
  position: relative;
  width: max-content;
  display: inline;
  margin-right: 50px;
  left: 2px;
}

#timer-onoff {
  opacity: 0;
  cursor: pointer;
}

#timer-button-span {
  top: 0;
  left: 0;
  height: 20px;
  width: 50px;
  border-radius: 100%;
  z-index: 100;
  position: absolute;
}

/* On mouse-over, add a grey background color */

#timer-container input~#timer-button-span {
  background-color: #f7f7f7;
  width: 20px;
  transition: left 0.2s ease;
  left: -1px;
}

/* When the checkbox is checked, add a blue background */

#timer-container input:checked~#timer-button-span {
  background-color: var(--cas-green);
  width: 20px;
  transition: left 0.2s ease;
  left: 20px;
}

/* Create the checkmark/indicator (hidden when not checked) */

#timer-button-span:after {
  content: "";
  position: absolute;
  /* display: none; */
}

#timer-container input:checked~#timer-button-span:after {
  display: block;
  z-index: 100;
  width: 50px;
}

#timer-container #button-bg {
  display: block;
  position: absolute;
  z-index: 99;
  top: -1px;
  left: -2px;
  height: 24px;
  border-radius: 20px;
  width: 44px;
  background-color: rgba(99, 99, 99, 1);
}

#timer-label {
  margin-left: 35px;
  margin-top: 8px;
  font-weight: 600;
}

/* scrunch the nav bar at this width */

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 400px) {}

#f-icon, #d-icon, #s-icon, #left-icon, #right-icon {
  height: 20px;
  width: 20px;
  transform: translateY(4px);
  display: inline-block;
  /* position: relative; */
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.5;
}

#left-icon {
  background-image: url('../images/icon-left.png');
}

#right-icon {
  background-image: url('../images/icon-right.png');
}

#f-icon {
  background-image: url('../images/icon-f.png');
}

#d-icon {
  background-image: url('../images/icon-d.png');
}

#s-icon {
  background-image: url('../images/icon-s.png');
}

#pipe {
  transform: translateY(3px);
  display: inline-block;
  margin-left: 1rem;
  font-weight: 100;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: 0rem;
  color: var(--cas-brand6) !important;
}

.study-mode {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

#study-mode-header {
  transition: all 0.2s ease;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 4rem !important;
}

#study-mode-header p {
  font-size: 1rem;
  color: var(--cas-brand6);
}

#study-mode-header span {
  color: var(--cas-brand5);
}

#study-mode-header span:hover {
  background-color: var(--cas-brand1);
  transition: all 0.2s ease;
  color: white;
  cursor: pointer;
}

.study-mode--card-view {
  perspective: 2000px;
  position: relative;
  height: var(--card-height);
  width: var(--card-width);
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.single-card {
  border-radius: 3px;
  display: grid;
  transform-style: preserve-3d;
  grid-auto-rows: 60px 1fr 20px;
  grid-template-areas: "header""middle""footer";
  position: absolute;
  height: var(--card-height);
  width: var(--card-width);
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  transform-style: preserve-3d;
  user-select: none;
}

@media screen and (max-width: 700px) {
  .single-card {
    top: 0rem;
    height: 100vh;
  }
  .study-mode--card-view {
    overflow: hidden;
  }
  .next-card, .previous-card {
    display: none !important;
  }
}

.single-card--header {
  grid-area: header;
  transform-style: preserve-3d;
  backface-visibility: visible;
  background-color: var(--cas-brand3);
  width: 100%;
  height: 60px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.single-card--header p {
  color: white;
  margin-left: 10px;
}

.single-card--footer {
  grid-area: footer;
  /* backface-visibility: visible;
  transform-style: preserve-3d; */
  width: var(--card-width);
  height: auto;
}

.current-card {
  box-shadow: 0px 0px 10px 0px grey;
  z-index: 99;
  transition: all 0.8s ease;
  /* transform-origin: center center 0px; */
  /* -webkit-transform-origin: center center 0px; */
  -webkit-transition: all 0.2s ease 0s;
}

.single-card__card-front div:nth-of-type(1) {
  /* .single-card__card-back div:nth-of-type(1) { */
  font-size: 3rem;
  /* padding: 1.5rem; */
  text-align: center;
}

.single-card__card-back div:nth-of-type(1) {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
  line-height: 2.5rem;
  color: #39363c;
}

.single-card__card-front {
  grid-area: middle;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backface-visibility: hidden;
  overflow: hidden;
}

.single-card__card-back {
  grid-area: middle;
  margin-top: 5rem;
  transform: rotateY(90deg);
  backface-visibility: hidden;
  overflow: hidden;
  opacity: 0;
}

.flip-show {
  transform: rotateY(180deg);
  transition: all 0.5s ease;
  justify-content: center;
  opacity: 1;
}

.flip-hide {
  /* transform: rotateY(90deg); */
  /* transition: all 0.5s ease; */
  justify-content: center;
  opacity: 0;
}

.next-card, .previous-card {
  justify-content: center;
  min-height: 20rem;
  box-shadow: 0px 5px 4px 4px lightgrey;
  background-color: white;
}

.next-card {
  z-index: 98;
  transform: matrix3d(0.91, 0.09, 0.42, 0, -0.09, 0.784, -0.17, 0, -0.42, 0.17, 0.8918, 0, 150, 10, 1, 1);
  -webkit-transform: matrix3d(0.91, 0.09, 0.42, 0, -0.09, 0.784, -0.17, 0, -0.42, 0.17, 0.8918, 0, 150, 10, 1, 1);
  transform-origin: center center 0px;
  transition: all 0.2s ease 0s;
  -webkit-transform-origin: center center 0px;
  -webkit-transition: all 0.2s ease 0s;
}

.previous-card {
  z-index: 97;
  transform: matrix3d(0.91, -0.09, 0.42, 0, 0.09, 0.784, 0.17, 0, -0.42, -0.17, 0.8918, 0, -150, 10, 1, 1);
  -webkit-transform: matrix3d(0.91, -0.09, 0.42, 0, 0.09, 0.784, 0.17, 0, -0.42, -0.17, 0.8918, 0, -150, 10, 1, 1);
  transform-origin: center center 0px;
  transition: all 0.2s ease 0s;
  -webkit-transform-origin: center center 0px;
  -webkit-transition: all 0.2s ease 0s;
}

.all-decks-header {
  font-size: 5rem;
  margin-left: 2.5rem;
  margin-top: 0.5rem;
  font-weight: 200;
  cursor: pointer;
}

.all-decks-header span:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.all-decks-header span {
  transition: font-weight 0.2s ease;
  font-weight: 500;
  color: var(--cas-brand5);
  padding: 0.25rem;
}

.deck-index {
  padding: 2.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, 250px);
  row-gap: 3rem;
}

.deck-wrapper {
  position: relative;
}

.deck-wrapper>div {
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  position: absolute;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.deck-wrapper i {
  color: white;
  font-size: 2.5rem;
  transition: color 0.5s ease;
}

.deck-wrapper i:hover {
  color: var(--cas-green);
  cursor: pointer;
  transition: color 0.5s ease;
}

.deck-wrapper:hover {
  /* transform: translate(0.65rem, 0.25rem) scale(0.98); */
  transition: all 0.3s;
}

.deck-wrapper div:nth-child(2) {
  z-index: 98;
}

.single-deck:hover~div:nth-child(2) {
  background-color: var(--cas-brand3);
  transform: scale(0.95);
}

.single-deck~div:nth-child(3) {
  z-index: 97;
}

.single-deck:hover~div:nth-child(3) {
  transform: rotate(-10deg);
  transition: background-color 1s ease;
}

.single-deck~div:nth-child(4) {
  z-index: 96;
}

.single-deck:hover~div:nth-child(4) {
  transform: rotate(10deg);
  transition: background-color 1s ease;
}

.single-deck--top-card {
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition-delay: 0.5s !important; */
  transition: all 0.5s;
  color: white;
  background-color: var(--cas-brand3);
}

.single-deck:hover>.single-deck--top-card {
  transform: scale(0.98);
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s;
}

.single-deck--options {
  display: none;
}

.single-deck:hover .single-deck--options {
  justify-self: center;
  display: grid;
  row-gap: 2.5rem;
  column-gap: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 1rem;
}

.single-deck--top-card>div:nth-child(2) {
  margin-top: 0px;
}

.single-deck--top-card:hover>:nth-child(2) {
  margin-top: 2.5rem;
  color: black;
  background-color: var(--cas-white);
  transition: margin-top 0.2s;
}

.add-deck input::before {
  opacity: 0;
}

.add-deck input {
  -webkit-appearance: none;
  height: 30px;
  width: 200px;
  margin-top: 1rem;
  font-size: 1.25rem;
  border: none;
  background-color: #181818;
  position: relative;
  z-index: -1;
  transition: all 0.2s ease;
}

.add-deck input:focus {
  border: none;
}

.add-deck:hover input {
  opacity: 1;
  display: block;
  transition: all 0.6s ease;
  position: absolute;
}

.add-deck button {
  opacity: 0;
}

.add-deck:hover button {
  opacity: 1;
  position: absolute;
  top: 12rem;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  border: 1px solid green;
  color: green;
  background-color: rgba(0, 0, 0, 0);
}

.add-deck :first-child {
  position: absolute;
  transition: all 0.6s ease;
}

form#add-deck {
  display: grid;
}

.add-deck:hover :first-child {
  opacity: 1;
  transform: translateY(-0.5rem);
  transition: all 0.6s ease;
  position: absolute;
}

.edit-deck {
  position: relative;
  transition: all 0.6s ease;
}

.edit-deck--header {
  margin-top: 0.5rem;
  margin-left: 2rem;
  display: flex;
  display: inline-block;
}

.edit-deck--header #edit-deck-title {
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.edit-deck--header #edit-deck-title:hover {
  transition: background-color 0.2s ease;
  background-color: var(--cas-brand1);
  color: var(--cas-white);
}

.go-to-study {
  display: inline-block;
  position: relative;
  transform: translateY(-0.5rem);
  margin-left: 2rem;
  font-weight: 900;
  background-color: var(--cas-melon);
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}

.edit-deck--card-index {
  list-style: none;
  display: grid;
  grid-auto-flow: row;
  width: max-content;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5rem;
  margin-left: 1rem;
  grid-template-rows: repeat(4, 20vh);
  row-gap: 2.5rem;
}

.edit-deck--card {
  list-style: none;
  width: 350px;
  text-align: center;
  height: 95%;
  background-color: var(--cas-card-edit);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.edit-deck--card ul li {
  margin-left: auto;
  margin-right: auto;
}

.edit-deck--card li:first-child {
  font-size: 1.25rem;
  font-weight: 600;
}

.edit-deck--card li:first-child~span {
  background-color: grey;
  position: relative;
  display: inline-block;
  height: 1px;
  transform: translateY(-0.25rem);
  width: 150px;
}

.edit-deck--card li.edit {
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: 800;
  position: relative;
  float: left;
  bottom: -1rem;
  color: var(--cas-white);
  background-color: var(--cas-brand3);
  padding: 0.25rem;
  opacity: 0;
}

.edit-deck--card.editing li input {
  font-size: 1.25rem;
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 90%;
}

.edit-deck--card.editing li span {
  background-color: grey;
  position: relative;
  display: inline-block;
  height: 1px;
  transform: translateY(-0.25rem);
  width: 150px;
}

.edit-deck--card.editing li textarea {
  font-size: 1.25rem;
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 90%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
}

.edit-deck--card li.cancel {
  transition: all 0.2s ease;
  position: relative;
  color: var(--cas-white);
  background-color: var(--cas-brand3);
  padding: 0.25rem;
  opacity: 0;
}

.edit-deck--card:hover li.edit, .edit-deck--card:hover li.cancel {
  font-weight: 800;
  opacity: 1;
}

.edit-deck--card-index ul:first-child {
  background-color: #f7f7f7;
}

.add-deck-form li:first-child input {
  -webkit-appearance: none;
  height: 40px;
  width: 300px;
  font-weight: 600;
  text-align: center;
  font-size: 1.25rem;
  border: none;
  background-color: #f7f7f7;
}

.add-deck-form li:last-child textarea {
  -webkit-appearance: none;
  min-height: 80px;
  width: 350px;
  font-weight: 200;
  text-align: center;
  font-size: 1rem;
  word-break: break-word;
  border: none;
  background-color: #f7f7f7;
}

.add-deck--form {
  position: absolute;
  display: inherit;
}

.submit-button {
  opacity: 0.2;
  position: relative;
  /* transform: translateX(22rem); */
  background-color: rgba(255, 255, 255, 0);
  bottom: -.3rem;
  margin-left: auto;
  margin-right: auto;
  left: -1rem;
  width: 107%;
  transform: translateY(2.25rem);
  padding: 0.25rem;
  color: grey;
  transition: all 0.2s;
}

.submit-button.focused {
  opacity: 1;
  transition: all 0.2s;
}

.topnav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: var(--top-nav-font-color);
  font-weight: thin;
  background-color: var(--top-nav-color);
  overflow: hidden;
  z-index: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--top-nav-height);
  border-bottom: 1px solid grey;
}

.topnav li {
  padding-left: 6px;
  padding-right: 6px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topnav li:last-child {
  margin-right: 20px;
  background-color: var(--cas-melon);
  margin-left: 20px;
}

#wrapper.toggled .topnav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 100px;
  color: var(--cas-white);
  font-weight: bolder;
  background-color: var(--cas-brand1);
  overflow: hidden;
  z-index: 97;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}

.dropdown {
  display: inline-block;
  position: fixed;
  margin: -8px;
}

.dropdown-content {
  display: none;
  background-color: var(--cas-brand1);
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.all-topics {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.topics-display {
  padding: 2rem;
  display: grid;
  grid-auto-rows: min-content;
}

.topics-display>div:first-child {
  background: rgb(75, 73, 73);
  color: var(--cas-white);
  font-size: 2.5rem;
  border-radius: 5px;
}

/* header */

#new-topic-title {
  color: rgba(10, 10, 10, 0.856);
  font-weight: lighter;
  background-color: #cac7c7;
  font-size: 2rem;
}

#new-topic-title:focus {
  background-color: white;
}

.topics-display>div:last-child {
  /* background-color: var(--cas-brand3); */
  background: rgb(75, 73, 73);
  border-radius: 5px;
  font-size: 1rem;
  /* border-radius: 12px; */
}

/* add new */

.single-topic {
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  height: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

#posistion {
  width: 50%;
}

#submit-new-topic {
  width: 75%;
}

.single-topic button {
  width: 100px;
  font-weight: bolder;
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 1rem;
  border: 10px;
  cursor: pointer;
  border-radius: 24px;
  transition: .25s;
  background-color: var(--cas-brand5);
  color: white;
}

.single-topic button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1px;
  color: white;
  background-color: var(--cas-melon);
  transition: .25s;
}

.single-topic:nth-child(odd) {
  background-color: #bdb6b66c;
}

.single-topic:last-child input {
  background-color: white;
}

/* LOGIN FORM */

form.box {
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 35%;
  left: 50%;
  background-color: white;
  border: 1px solid #39363c;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  transform: translate(-50%, -50%);
  text-align: center;
}

form.box h1 {
  color: var(--cas-brand3);
  text-transform: uppercase;
  font-weight: 500;
}

form.box input[type="text"], .box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgba(63, 142, 211, 0.863);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

form.box input[type="text"]:focus, .box input[type="password"]:focus {
  width: 250px;
  border-color:var(--cas-green);
}

#btn {
  border: 0;
  background-color: var(--cas-melon);
  display: block;
  margin: 20px auto;
  text-align: center;
  border-radius: 2px solid rgb(17, 117, 17);
  padding: 14px 40px;
  outline: none;
  color: rgb(240, 255, 244);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#btn:hover {
  background: rgba(15, 224, 32, 0.589);
}

.about-section h1 {
  font-size: 4rem;
  line-height: 0em;
}

.about-section {
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 2.5rem;
  padding: 3rem;
  width: 600px;
}