body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

nav {
  display: block;
}
:root {
  --cas-brand1: #39363c;
  --cas-brand2: #dedede;
  --cas-brand3: #272731;
  --cas-green: #00cb30;
  --cas-white: #ffffff;
}

section {

  min-height: 100vh;
  width: 100%;
  position: absolute;
}

main {
  min-height: 100vh;
  background-color: var(--cas-brand2);
}

nav {
  position: absolute;
  display: block;
  height: 100vh;
}

#menuToggle {
  top: 0px;
  left: 5px;
  display: block;
  position: relative;
  height: 100%;
}

#menuToggler {
  z-index: 2;
}

#menuToggle span {
  top: 50px;
  left: 5px;
  display: block;
  position: relative;
  width: 32px;
  height: 4px;
  margin-bottom: 5px;
  background-color: var(--cas-white);
  border-radius: 3px;
  transform-origin: 4px 0px;
  z-index: 2;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease, transform-origin 0.55s ease;
}

#menuToggle input {
  top: 50px;
  left: 5px;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggler:hover~span:nth-last-child(3) {
  transform-origin: 50% 0%;
  transform: scale(0.8, 1);
  border-radius: 10px;
  transition: transform-origin 0.25s ease;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background-color: var(--cas-brand2);
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}


#nav-expanded {
  background-color: var(--cas-brand1);
  width: 150px;
  height: 100%;
  margin: -50px 0 0 -50px;
  padding-left: 50px;
  transform-origin: 0% 0%;
  transform: translate(-100px, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  z-index: 0;
}

#menuToggle input:checked~#nav-expanded {
  transform: none;
}

.study-mode {
  padding: 20%;
}

.timer {
  background-color: green;
  width: 100%;
  z-index: 1;
  position: fixed;
}

/* scrunch the nav bar at this width */

@media screen and (max-width: 15000px) {

}

@media screen and (max-width: 400px) {

}

.single-card {
  display: block;
  position: relative;
  min-height: 20rem;
  background-color: white;
  width: 65%;
}